
<!DOCTYPE html> <!-- Declaración del tipo de documento HTML -->
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaración del espacio de nombres para Thymeleaf -->
<head>
    <title>Lista de Empresas</title> <!-- Título de la página -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Listado de Empresas</h1>

    <a href="agregarEmpresa.html" class="btn btn-primary mb-3">Agregar Empresa</a>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">EMPRESA</th>
            <th scope="col">VER PAGINA</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empresa : ${empresas}">
            <td th:text="${empresa.denominacion}">Denominacion</td>
            <td>
                <a th:href="@{'home.html/' + ${empresa.id}}" class="btn btn-info btn-sm">Ver Pagina</a>
                <!-- Agregar más acciones si es necesario -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
